<h1 class="title">Мои курсы</h1>

<div class="columns is-multiline mt-3">
  <% @courses.each do |course| %>
    <div class="column is-3">
      <%= render MyCourses::CoursePreviewComponent.new(course:, current_user:) %>
    </div>
  <% end %>
</ul>