<%= render "teacher/partials/course_tabs" %>

<h1 class="title"><%= t("resources.teacher.lessons.index", course_title: @course.title) %></h1>

<% @course.lessons.each do |lesson| %>
  <div class="box mt-3">
    <%= link_to lesson.title, [:teacher, lesson] %>
  </div>
<% end %>


<div class="mt-3">
  <%= link_to t("resources.teacher.lessons.new"), new_teacher_course_lesson_path(@course),
                                                  class: "button" %>
</div>