<h1 class="title"><%= t("resources.teacher.courses.index") %></h1>

<ul>
  <% @courses.each do |course| %>
    <li><%= link_to course.title, [:teacher, course] %></li>
  <% end %>
</ul>

<div class="mt-3">
  <%= link_to t("resources.teacher.courses.new"), new_teacher_course_path,
                                        class: "button" %>
</div>