<h1 class="title"><%= t("resources.teacher.courses.index") %></h1>

<div class="columns is-multiline">
  <% @courses.each do |course| %>
    <div class="column is-3">
      <%= render Courses::PreviewComponent.new(course:, current_user:) do |component| %>
        <% component.with_button do %>
          <%= link_to "Просмотр", [:teacher, course], class: "button is-fullwidth" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="mt-3">
  <%= link_to t("resources.teacher.courses.new"), new_teacher_course_path,
                                        class: "button" %>
</div>