<h1 class="title">Courses</h1>

<div class="columns is-multiline mt-3">
  <% @courses.each do |course| %>
    <div class="column is-3">
      <%= render Courses::PreviewComponent.new(course:, current_user:) do |component| %>
        <% component.with_button do %>
          <%= link_to "Подробнее", course, class: "button is-fullwidth" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>