.course-preview__image-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 65%;
  }
}

.course-preview__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}